#wtd td, #wtd th {
  vertical-align: top; }

#wtd tr:nth-child(odd) td {
  background-color: #f6f6f6; }

#wtd tr:nth-child(even) td {
  background-color: #eee; }

#wtd tr.selected:nth-child(odd) td {
  background-color: #c0e6e0; }

#wtd tr.selected:nth-child(even) td {
  background-color: #cbf0f0; }

#wtd td.wtd__timestamp {
  white-space: pre-line; }

#wtd span.wtd__date {
  color: #777; }

#wtd span.wtd__time {
  color: black; }

#wtd .wtd__full_message {
  overflow: hidden;
  height: 1.4rem;
  font-family: monospace;
  white-space: pre-wrap; }
  #wtd .wtd__full_message em {
    font-style: normal;
    color: #028; }
  #wtd .wtd__full_message.full {
    height: auto;
    max-height: calc(100vh - 10rem);
    overflow: auto; }

#wtd pre.wtd__variables {
  background: #333;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  color: #f0ffee;
  max-height: calc(100vh - 10rem);
  overflow: auto; }

#wtd .wtd__filters {
  padding: 0.5rem 1rem;
  background: #f0f0f0;
  border-radius: 4px;
  margin: 0 0 1rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  #wtd .wtd__filters > div {
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto; }
    #wtd .wtd__filters > div.button {
      -webkit-flex: 0 0 auto;
          -ms-flex: 0 0 auto;
              flex: 0 0 auto;
      padding: 0 1rem; }
  #wtd .wtd__filters label {
    display: inline-block;
    padding-right: 0.5rem; }
  #wtd .wtd__filters input {
    display: inline-block;
    width: calc(100% - 5em); }

#wtd .wtd__type.severity-0 {
  background-color: #b30000;
  color: white; }
  #wtd .wtd__type.severity-0:before {
    content: 'Emergency';
    font-size: 0.75em;
    text-align: centre;
    display: block; }

#wtd .wtd__type.severity-1 {
  background-color: #e6310b; }
  #wtd .wtd__type.severity-1:before {
    content: 'Alert';
    font-size: 0.75em;
    text-align: centre;
    display: block; }

#wtd .wtd__type.severity-2 {
  background-color: #e35537; }
  #wtd .wtd__type.severity-2:before {
    content: 'Critical';
    font-size: 0.75em;
    text-align: centre;
    display: block; }

#wtd .wtd__type.severity-3 {
  background-color: #e3815b; }
  #wtd .wtd__type.severity-3:before {
    content: 'Error';
    font-size: 0.75em;
    text-align: centre;
    display: block; }

#wtd .wtd__type.severity-4 {
  background-color: #ecc77f; }
  #wtd .wtd__type.severity-4:before {
    content: 'Warning';
    font-size: 0.75em;
    text-align: centre;
    display: block; }

#wtd .wtd__type.severity-5 {
  background-color: #e7dc9f; }
  #wtd .wtd__type.severity-5:before {
    content: 'Notice';
    font-size: 0.75em;
    text-align: centre;
    display: block; }

#wtd .wtd__type.severity-6 {
  background-color: #d1e6bc; }
  #wtd .wtd__type.severity-6:before {
    content: 'Info';
    font-size: 0.75em;
    text-align: centre;
    display: block; }

#wtd .wtd__type.severity-7 {
  background-color: #cdd7cf; }
  #wtd .wtd__type.severity-7:before {
    content: 'Debug';
    font-size: 0.75em;
    text-align: centre;
    display: block; }

#wtd #wtd__auto_load,
#wtd #wtd__auto_show {
  display: inline-block; }

#wtd #wtd__auto_show + label,
#wtd #wtd__auto_load + label {
  display: inline-block;
  padding: 0 2rem 0 0.5rem; }

/*# sourceMappingURL=wtd.css.map */
