#wtd {
  td, th {
    vertical-align: top;
  }
  tr:nth-child(odd) td { background-color:#f6f6f6; }
  tr:nth-child(even) td { background-color:#eee; }
  tr.selected:nth-child(odd) td { background-color:#c0e6e0; }
  tr.selected:nth-child(even) td { background-color:#cbf0f0; }
  td.wtd__timestamp {
    white-space: pre-line;
  }
  span.wtd__date {
    color:#777;
  }
  span.wtd__time {
    color:black;
  }
  .wtd__full_message {
    overflow:hidden;
    height:1.4rem;
    font-family: monospace;
    white-space: pre-wrap;
    em {
      font-style: normal;
      color: #028;
    }

    &.full {
      height:auto;
      max-height: calc(100vh - 10rem);
      overflow: auto;
    }
  }
  pre.wtd__variables {
    background: #333;
    padding: 0.5rem 1rem;
    border-radius: 2px;
    color: #f0ffee;
    max-height: calc(100vh - 10rem);
    overflow: auto;
  }
  .wtd__filters {
    padding:0.5rem 1rem;
    background: #f0f0f0;
    border-radius:4px;
    margin:0 0 1rem;

    display:flex;
    flex-wrap:wrap;
    &>div {
      flex: 1 0 auto;
      &.button {
        flex: 0 0 auto;
        padding:0 1rem;
      }
    }
    label {
      display:inline-block;
      padding-right:0.5rem;
    }
    input {
      display:inline-block;
      width:calc(100% - 5em);
    }
  }
  .wtd__type {
    &.severity-0 { background-color: #b30000; color: white; &:before { content: 'Emergency'; font-size: (12em/16);text-align:centre; display:block;}}
    &.severity-1 { background-color: #e6310b; &:before { content: 'Alert'; font-size: (12em/16);text-align:centre; display:block;}}
    &.severity-2 { background-color: #e35537; &:before { content: 'Critical'; font-size: (12em/16);text-align:centre; display:block;}}
    &.severity-3 { background-color: #e3815b; &:before { content: 'Error'; font-size: (12em/16);text-align:centre; display:block;}}
    &.severity-4 { background-color: #ecc77f; &:before { content: 'Warning'; font-size: (12em/16);text-align:centre; display:block;}}
    &.severity-5 { background-color: #e7dc9f; &:before { content: 'Notice'; font-size: (12em/16);text-align:centre; display:block;}}
    &.severity-6 { background-color: #d1e6bc; &:before { content: 'Info'; font-size: (12em/16);text-align:centre; display:block;}}
    &.severity-7 { background-color: #cdd7cf; &:before { content: 'Debug'; font-size: (12em/16);text-align:centre; display:block;}}
  }
  #wtd__auto_load,
  #wtd__auto_show { display: inline-block; }
  #wtd__auto_show+label,
  #wtd__auto_load+label { display: inline-block; padding:0 2rem 0 0.5rem; }
}
